<div class="col-lg-4">
  <h4>{{ section.settings.menu1_title }}</h4>
  <ul>
    <li><a href="#">Fresh Vegetables</a></li>
    <li><a href="#">Frozen Food</a></li>
    <li><a href="#">Drinks</a></li>
    <li><a href="#">Foreign Food</a></li>
    <li><a href="#">Cosmetics</a></li>
  </ul>
</div>
<div class="col-lg-4">
  <h4>{{ section.settings.menu2_title }}</h4>
  <ul>
    <li><a href="#">Customer service</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="#">Payment & delivery condition</a></li>
    <li><a href="#">Cancellation policy</a></li>
    <li><a href="#">Terms & condition</a></li>
  </ul>
</div>