<div class="col-lg-4">
  <h4>{{ section.settings.newsletter_title }}</h4>
  <p>{{ section.settings.newsletter_text }}</p>
  <div class="newsletter-form">
    <form action="">
      <input type="email" placeholder="Enter Email">
      <button type="submit"><i data-feather="chevron-right"></i></button>
    </form>
  </div>
</div>


