<section id="announcement">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="announcement__left">
          <i class="feather-16" data-feather="phone"></i> <a href="tel: +880 01652485510">+880 01652485510</a>
        </div>
      </div>
      <div class="col-md-6 text-center d-none d-md-block">
        <div class="announcement__center text-primary">
          <span>Free shipping within 5 kilometer!</span>
        </div>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <div class="announcement__right">
          <ul class="top-menu">
            <li><a href="#">Help</a></li>
            <li><a href="#">Supoort</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>