<section class="cart-area section" style="min-height: 55vh; padding-top: 150px;">
  <div class="cart shopping">
    <div class="container">
      <div class="row">

        <template v-if="cart && cart.items.length > 0">
          <div class="col-md-10 offset-1">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Item Name</th>
                      <th>Quantity</th>
                      <th>Item Price</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>

                    <template v-for="item in cart.items">
                      <tr>
                      <td>
                        <div class="product-info" v-if="item.image">
                          <img width="80" :src="item.image" alt="" style="margin-right: 5px;">
                          <a :href="item.url">${ item.title }</a>
                        </div>
                      </td>
                      <td width="100">
                        <input type="number" v-model="item.quantity" class="form-control">
                      </td>
                      <td>${ item.price }</td>
                      <td>
                        <button type="button" class="product-remove" @click="removeCart(item)" >Remove</button>
                      </td>
                    </tr>
                    </template>

                  </tbody>
                </table>
                <div class="row justify-content-end cart-total">
                  <div class="col-md-2">
                    Total
                  </div>
                  <div class="col-md-2">
                   ${cart.total_price}
                  </div>
                </div>
                <input type="submit" name="checkout" class="btn btn-main pull-right" value="checkout">
              </form>
            </div>
          </div>
        </div>
        </template>
        <template v-else>
          <p class="cart-empty">Cart is empty</p>
        </template>

      </div>
    </div>
  </div>
</section>


<script>
  if(document.querySelector('.cart-area')){
    const cartForm = Vue.createApp({
      delimiters: ['${', '}'],
      data(){
        return {
         cartData: store.state.cartState
        }
      },

      created(){
        this.getCart()
      },

     computed: {
      cart(){
        return this.cartData[0]
      }
     },

      methods: {

        getCart(){
          axios.get('/cart.js')
          .then(response =>{
            this.cart = response.data
          })
          .catch(error => {
            console.log(error)
          })
        },
        removeCart(item){
          const data = {
            'id': item.key,
            'quantity': 0
          }
          axios.post('/cart/change.js', data)
          .then(response => {
            store.getCart()
          })
          .catch(error => {
            console.log(error)
          })
        },
        updateCart(){
          let result = this.cart.items.reduce(
               (accumulator, target) => ({ ...accumulator, [target.variant_id]: target.quantity }),
          {});
          console.log(result);

          axios.post('/cart/update.js', {updates : result} )
            .then( (response) => {
                
            })
            .catch(function (error) {

            });
        },
      }

    }).mount('.cart-area');
  }
</script>